@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
    nav a{
        font-size: 10px;
    }

}

html, body{
    font-family: sans-serif;
    height: 100%;
}
body{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: whitesmoke;
    animation: fadeIn 1.5s;
}

#container{
    height: 100vh;
    width: 100%;
    background-image: url("Images/pexels-tirachard-kumtanom-733853.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#containerKontakt, #containerOmMig, #containerTjänster{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    top: 0;
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items in a row */
}

nav li {
    display: inline-block; /* Display list items horizontally */
}

nav a {
    white-space: nowrap;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: width 0.2s ease-out; /* Animate the width of the underline */
}
nav a::after {
    content: "";
    display: block;
    left: 0;
    bottom: -5px; /* Position the underline 5px below the text */
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.2s ease-out; /* Animate the width of the underline */
}
nav a:hover::after {
    width: 100%; /* Animate the width of the underline to 100% on hover */
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    font-family: Arial, sans-serif;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition-duration: 0.2s;
  }
  
  input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid black;
  }