@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
    nav a{
        font-size: 8px;
    }

}


html, body{
    font-family: sans-serif;
    height: 100%;
}
body{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: whitesmoke;
    animation: fadeIn 1.5s;
}

#container{
    height: 100vh;
    width: 100%;
    background-image: url("Images/pexels-tirachard-kumtanom-733853.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#containerKontakt, #containerOmMig, #containerTjänster{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    top: 0;
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBarLeft, .navBarMiddle, .navBarRight{
    height: 100%;
    width: 25vw;
}
.navBarLeft{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
nav ul {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items in a row */
}

nav li {
    display: inline-block; /* Display list items horizontally */
}

nav a {
    white-space: nowrap;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: width 0.2s ease-out; /* Animate the width of the underline */
}
nav a::after {
    content: "";
    display: block;
    left: 0;
    bottom: -5px; /* Position the underline 5px below the text */
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.2s ease-out; /* Animate the width of the underline */
}
nav a:hover::after {
    width: 100%; /* Animate the width of the underline to 100% on hover */
}
.navBarRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
#menuButton:hover{
    cursor: pointer;
}



.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    scale: 0;
}
.popup .content{
    top: 0px;
    left: 110%;
    position: fixed;
    background: #fff;
    width: 20vw;
    height: 100vh;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.popup .close-btn{
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.popup.active .overlay{
    display: block;
    scale: 1;
}

.popup.active .content{
    left: 80vw;
}

.contentTop{
    display: flex;
    justify-content: flex-end;
    height: 5%;
    width: 100%;
}
.contentBottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #4CAF50;
  }